includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 6
    paths:
        - examples/
        - src/
        - tests/
    ignoreErrors:
        -
            message: '#no value type specified in iterable type array#'
            path: tests/*

